.formulario {
    @include bloque();
    position: absolute;
    background-color: #fff;
    top: -1000px;
    left: 0;
    right: 0;
    box-shadow: 5px 5px 15px rgba(#000, 0.1);
    opacity: 0;
    transition: all 300ms linear;
    &.visible {
        opacity: 1;
        top: 80px;
    }
    header {
        background-color: $color-fondo;
        border-bottom: 1px solid #ccc;
        padding: $padding-bloques;
        h2 {
            margin-bottom: 0;
        }
    }
    .form-nueva-factura {
        padding: $padding-bloques;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .form-group {
            width: calc(50% - 15px);            
            margin-bottom: 20px;
        }
        label {
            display: block;
            font-weight: bold;
            margin-bottom: 8px;
        }
        input, select {
            -webkit-appearance: none;
            -moz-appearance: none;
            &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                -webkit-appearance: none !important;
                margin: 0 !important;
                -moz-appearance:textfield !important;
            }            
            &[type="number"] {
                -moz-appearance:textfield !important;
            }
            width: 100%;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 0 20px;
            height: 40px;
            box-shadow: inset 1px 1px 10px rgba(#000, 0.1);
        }
        button {
            color: #fff;
            background-color: #337ab7;
            border: 1px solid darken(#337ab7, 10);
            border-radius: 3px;
            padding: 0 15px; 
            height: 40px;
        }
        .mensaje {
            color: red;
            display: none;
        }
    }
}