.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    h1, .icono {
        flex: 1;
    }
    .icono {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }
}