.listados {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .listado {
        width: calc(50% - 15px);
        .listado-inner {
            @include bloque($padding-bloques);
            ul {
                @include lista-sin-estilo();
                margin-top: 20px;
                li {
                    background-color: $color-fondo;
                    margin-bottom: 10px;
                    padding: 8px 5px;
                    &:hover {
                        background-color: #333;
                        color: #fff;
                    }
                }
            }           
        }
    }
}