@mixin bloque($padding: 0) {
    border: 1px solid #ddd;
    border-radius: 5px;
    @if $padding != 0 {
        padding: $padding;
    }    
}
@mixin lista-sin-estilo {
    list-style: none;
    margin: 0;
    padding: 0;
}