.totales {
    @include bloque($padding-bloques);
    ul {
        @include lista-sin-estilo();
        li {
            margin-bottom: 10px;
            .positivo {
                color: #090;
            }
            .negativo {
                color: #f00;
            }
        }
    }
}